*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    /* *에 inherit, body에 border-box로 하는 것이 조금 더 낫다고 함 */
}

html {
    // This defines what 1rem is
    font-size: 62.5%; // 1 rem = 10px (c.f. 10px/16px = 62.5)
    /* 10px로 하지 않고 이것도 %로, user의 디폴트 폰트 사이즈를 기준으로 하기 위함*/

    @include respond(tab-land) {
        font-size: 56.25%; // 1rem = 9px
    }

    @include respond(tab-port) {
        font-size: 50%; // 1rem = 8px(8/16 = 50%)
    }

    // @include respond(phone) {
    //     font-size: 50%;
    // }
    // 같은 조건으로 적용할거라 삭제
    // max-width가 조건이 겹치는 구간에서 cascade 되지 않도록 더 작은 조건을 아래쪽에 써줘야함!

    @include respond(big-desktop) {
        font-size: 75%; // 1rem = 12px
    }

    // 이건 min-width 조건이라 괜춘
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}